{% extends 'student_home.html' %}
{% block aravind1 %}
    <style>
    .one
    {
        background-color: cornsilk;
        color: crimson;

    }
    .no
    {
        background-color: moccasin;
        color: green;
        text-align: center;
    }
    </style>

    <table align="center" border="2" width="800">
                        <tr>
                            <th class="no">Name</th>
                            <th class="no">Faculty</th>
                            <th class="no">Date</th>
                            <th class="no">Time</th>
                            <th class="no">Fee</th>
                            <th class="no">Duration</th>
                            <th class="no">Enroll</th>
                        </tr>
                    {% for x in form %}
                        <tr>

                            <th class="one">{{ x.course_name }}</th>
                            <th class="one">{{ x.faculty }}</th>
                            <th class="one">{{ x.date }}</th>
                            <th class="one">{{ x.time }}</th>
                            <th class="one">{{ x.fee }}</th>
                            <th class="one">{{ x.duration }}</th>
                            <th>
                                <a href="{% url 'viewenroll' %}?cid={{ x.no }}"> YES</a>
                            </th>
                        </tr>
                    {% endfor %}
    </table>
{% endblock %}