{% extends 'common.html' %}
{% block aravind %}
    {% load static %}
    {% include 'studentmenu.html' %}
    <table align="center" border="2">
        <tr><th><img src="{% static 'images/students.jpg' %}"></th></tr>
    </table>


{% endblock %}



{% comment %}<table border="2" xmlns="http://www.w3.org/1999/html">
    <tr>
        {% for x in data %}
            <th>
                <tr>
                    <th>
                        name : {{ x.course_name }}<br>
                        faculty : {{ x.faculty }}<br>
                        date : {{ x.date }}<br>
                        time : {{ x.time }}<br>
                        fee : {{ x.fee }}<br>
                        duration : {{ x.duration }}
                    </th>
                </tr>
            </th>
        {% endfor %}
    </tr><br>
    </table>{% endcomment %}