<style>
    .mm
    {
        background-color: green;
        color: wheat;
        text-align: center;
        width: 150px;
        font-size: 20px;

    }
</style>
<table align="center" border="2">
    <tr>
        <th class="mm"><a href="{% url 'main' %}"> Home</a></th>
        <th class="mm"><a href="{% url 'course' %}">Our Courses</a></th>
        <th class="mm"><a href="{% url 'register' %}">Register</a></th>
        <th class="mm"><a href="{% url 'login' %}">Login</a> </th>
        <th class="mm">contact us</th>
        <th class="mm">search</th>
    </tr>
</table>